@program-showcase-items: 5;
@program-showcase-item-width: 100% / @program-showcase-items;

.it-program-showcase {
  @title-background: white;
  margin: 0 -@step-margin; //aligning with step-nav
  text-align: center;

  position: relative;

  &__progress {
    position: relative;
    progress {
      margin-bottom: 0px;
    }
  }

  @media all and (min-width: @screen-sm) {
    // white line
  }

  &__list {
    display: table;
    width: 100%;
  }

  &__item {
    display: table-cell;
    vertical-align: top;
    width: @program-showcase-item-width;
    position: relative;

    @media all and (max-width: @screen-xs-max) {
      width: 100%;
      display: block;
    }

    > .it-program {
      margin: 0 @step-margin;
    }
  }

  .medium-word-wrap;
}

.it-program-showcase--move3rd {
  @media all and (min-width: @screen-sm) {
    .it-program-showcase__item:first-child {
      left: @program-showcase-item-width*2;
    }

    .it-program-showcase__item:nth-child(3) {
      right: @program-showcase-item-width*2;
    }
  }
}