.it-program-messages {
  margin-bottom: 20px;
  font-size: 1.1em;

  &__messages > div + div {
    margin-top: 6px;
  }

  &--warnings {
    color: #a9561c;
  }

  &--errors {
    color: #880000;
  }

  &--messages {
    color: #4b884d;
  }
}
