.it-result-summary {

  &__container {
    .clearfix;
    display: table;
    width: 100%;
  }

  &__details {
    display: table-cell;
    width: 70%;
  }

  &__credit {
    display: table-cell;
    vertical-align: bottom;
    width: 30%;
  }

  &__product {
    padding-top: 20px;

    >h4 {
      color: #dd7541;
      font-size: 1.8em;
    }
  }
}
