.it-step-nav {
  @width: 100% / @step-nav-steps-count;

  &__required {
    margin: 0 -@step-margin;
  }

  &__list {
    display: table;
    width: 100%;
    padding-top: @step-nav-top-space;
  }

  &__item {
    display: table-cell;
    width: @width;
    position: relative;

    @media all and (max-width: @screen-xs-max) {
      display: block;
      width: 100%;
    }

    .it-step {
      margin: 0 @step-margin;

      @media all and (max-width: @screen-xs-max) {
        margin: 15px @step-margin;
      }
    }
  }

  .medium-word-wrap;
}